.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4b39d;
  position: fixed;
  z-index: 2;
  color: #000000;

  .score {
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;

    .cup {
      height: 22px;
      width: 22px;
      margin: 0 8px;
    }

    .number {
      font-size: 28px;
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;

      .fen {
        font-size: 15px;
        position: relative;
        left: 4px;
        top: 4px;
      }
    }

    .tags {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      position: absolute;
      right: -116px;
      top: 0px;
      width: 104px;

      .tagUpdate {
        margin-bottom: 4px;
        width: fit-content;
      }

      .tagSuccess {
        margin-bottom: 4px;
        width: fit-content;
      }

      .tagWarning {
        margin-bottom: 4px;
        width: fit-content;
      }
    }
  }
}

.list {
  z-index: 1;
  padding-bottom: 36px;
  padding-top: 70px;

  .tip {
    font-size: 14px;
    opacity: 0.6;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0px;
  }

  .btnContainer {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }
}

.item {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 24px;
  position: relative;

  .count {
    margin-right: 28px;
    font-size: 16px;
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;

    .name {
      margin-left: 28px;
    }
  }

  .answer {
    width: 22px;
    height: 22px;
  }

  .line {
    height: 1px;
    width: calc(100% - 24px);
    position: absolute;
    bottom: 0;
    left: 24px;
    opacity: 0.2;
  }
}
