.page {
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  width: 27vw;
}

.img {
  height: 66px;
  width: initial;
  image-rendering: pixelated;
  margin-bottom: 12px;
}
