.drawer {
  padding: 16px;
  padding-bottom: 32px;
  height: 60vh;
  box-sizing: border-box;
  position: relative;
}

.header {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.suit {
  display: flex;
  flex: 1;
  padding-top: 12px;
  padding-bottom: 4px;

  .info {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imgBox {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -16px;

    .img {
      height: 66px;
      width: initial;
      image-rendering: pixelated;
    }
  }
}

.children {
  display: inline;
}

.row {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  justify-content: flex-start;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.line {
  display: flex;
}
