.page {
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
}

.list {
  padding: 16px;
  overflow: hidden;
}

.seedType {
  padding: 8px;
  padding-top: 24px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
