.page {
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.navItem {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  box-sizing: border-box;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    margin-right: 16px;

    .icon {
      width: 48px;
      height: 48px;
      image-rendering: pixelated;
    }
  }

  .content {
    flex: 1;

    .title {
      width: 100%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 8px;

      .name {
        font-size: 18px;
        font-weight: bold;
        margin-right: 9px;
      }
    }

    .desc {
      opacity: 0.8;
    }
  }

  .right {
    margin-left: 16px;
    margin-right: 8px;
  }
}
