.dotWrapper {
  display: flex;
  position: relative;
  top: 12px;

  .dot-1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 8px;
  }

  .dot-2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 8px;
    // 中间是空心的
    border: 1px solid #000000;
    box-sizing: border-box;
  }

  .dot-3 {
    width: 5px;
    height: 5px;
    margin: 0 8px;
  }
}
