.drawer {
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 32px;
  height: 60vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.icon {
  padding-top: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 24px;
  width: 100%;
}

.unlock {
  margin-bottom: 8px;
}

.list {
  width: 100%;
  display: flex;
  line-height: 30px;
}
