.nut-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  --nutui-table-border-color: #e8e8e8;

  &__main {
    display: table;
    width: 100%;
    border-collapse: collapse;
    overflow-x: hidden;
    color: #262626;
    background-color: #ffffff;

    &--striped {
      .nut-table__main__head {
        &__tr {
          background-color: #f4f4f4;
        }
      }

      .nut-table__main__body {
        &__tr:nth-child(odd) {
          background-color: #ffffff;
        }
      }

      .nut-table__main__body {
        &__tr:nth-child(even) {
          background-color: #f4f4f4;
        }
      }
    }

    &__head,
    &__body {
      &__tr {
        display: table-row;

        &__th {
          display: table-cell;
          padding: 10px;
        }

        &__td {
          display: table-cell;
          padding: 10px;

          &__nodata {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
          }
        }

        &--border {
          border: 1px solid var(--nutui-table-border-color, red);
        }

        &--alignleft,
        &--align {
          text-align: left;
        }

        &--aligncenter {
          text-align: center;
        }

        &--alignright {
          text-align: right;
        }
      }
    }

    &__head {
      display: table-header-group;
    }

    &__body {
      display: table-row-group;
    }
  }

  &__summary {
    color: #262626;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
  }
}
