.float {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4b39d;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
