page {
  --nutui-color-primary: #c4b39d;
  --nutui-range-button-height: 28px;
  --nutui-range-button-width: 28px;
  --nutui-range-height: 8px;
}

.nut-popup-title {
  background-color: transparent !important;
  color: inherit !important;
}

.nut-fixednav-btn {
  // background: #c4b39d !important;
  padding-left: 8px !important;
  width: auto !important;
  padding-right: 8px;

  .nut-icon {
    font-size: 16px;
    color: #000000e0 !important;
    background: #000000e0 !important;
  }

  .text {
    width: 12px !important;
    font-size: 11px !important;
    color: #000000e0 !important;
    font-weight: bold !important;
  }
}

.nut-fixednav-list {
  padding-right: 56px !important;
}

.nut-fixednav-list-item {
  justify-content: space-between !important;
  padding: 4px 0;
  box-sizing: border-box;
  img {
    width: 26px !important;
    height: 26px !important;
    // image-rendering: pixelated !important;
    margin-bottom: 0px !important;
  }
  .nut-fixednav-list-text {
    font-size: 11px !important;
    position: relative;
    top: -2px;
  }
}
.nut-fixednav-list-item:first-of-type {
  img {
    height: 13px !important;
    margin-top: 6px !important;
    // image-rendering: pixelated !important;
    margin-bottom: 0px !important;
  }
}

.my-search-bar {
  --nutui-searchbar-background: #c4b39d;
  .nut-searchbar-content {
    padding: 0 12px !important;
  }
  .nut-searchbar-icon {
    font-size: 13px !important;
    margin-right: 4px;
  }
  .nut-searchbar-input-box {
    font-size: 13px !important;
  }
  .nut-icon-circle-close {
    font-size: 14px !important;
  }
}

.popoverWrapper {
  height: 80%;
  .nut-popover-wrapper {
    height: 100%;
    display: flex;
  }
  .nut-popover {
    top: 60px !important;
  }
}

.nut-table__main {
  background-color: transparent !important;
  color: inherit !important;
}

.nut-popover-content {
  overflow: hidden !important;
}

.nut-subsidenavbar-item {
  padding-left: 36px !important;
}

button {
  border-radius: 16px;
  border: none;
}

button::after {
  border: none;
}

.nut-popup {
  overflow-y: unset !important;
}

.nut-popup-right {
  overflow-y: auto !important;
  height: 100vh !important;
}

.nut-radio-icon-checked {
  color: #739ede !important;
}
