.container {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 12px 0;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;

  .item {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: relative;
    border-top: 1px solid transparent;
  }

  .extra {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    // margin-bottom: 4px;
  }
}
