.drawer {
  padding: 24px;
  padding-top: 0px;
  padding-bottom: 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .null {
    margin-bottom: 12px;
  }
}
