.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 12px;
  // background-color: #c4b39d;
  padding: 24px;
  padding-top: 32px;
  padding-bottom: 12px;
}

.question {
  margin-top: 48px;
  font-size: 18px;
}

.icon {
  position: relative;
}

.turnPrev {
  position: absolute;
  top: 12px;
  left: 0px;
  padding: 24px;
  opacity: 0.9;
}

.turnNext {
  position: absolute;
  top: 12px;
  right: 0px;
  padding: 24px;
  opacity: 0.9;
}
