.icon {
  display: inline-block;
  // prettier-ignore
  width: 32PX;
  // prettier-ignore
  height: 32PX;
  vertical-align: middle;
  image-rendering: pixelated;
}

.img {
  display: inline-block;
  // prettier-ignore
  width: 32PX;
  // prettier-ignore
  height: 32PX;
  image-rendering: pixelated;
}
