.btn {
  margin-top: 28px;
  width: 100%;
  height: 56px;
  font-size: 18px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  // background-color: #c4b39d;
  background-color: #f7b733;
  color: #ffffff;
}
