.container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // background-color: #fff;
  background-color: #c4b39d;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  box-sizing: border-box;
}

.search {
  flex: 1;
  background-color: #c4b39d;
}

.icon {
  padding: 16px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

  .text {
    margin-top: 4px;
    font-size: 12px;
  }
}

.refresh {
  padding-right: 6px;
}
