.container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // background-color: #fff;
  background-color: #c4b39d;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  box-sizing: border-box;
}

.search {
  flex: 1;
  background-color: #c4b39d;
}
